<ng-container *ngIf="user$ | async as user">
  <section class="mx-lg-5 px-lg-3 my-lg-3">
    <mat-card class="height-100"
      ><mat-card-title class="text-center"
        >{{ user.name }} {{ user.lastName }}</mat-card-title
      ><mat-card-content
        ><div class="contarier">
          <div class="row">
            <div class="col text-center">
              <div class="container">
                <div class="row mb-2">
                  <button
                    class="btn btn-block bg-cadetblue text-ghostwhite"
                    [routerLink]="'/create-plan/' + user.authId"
                  >
                    Dodaj trening
                  </button>
                </div>
                <div class="row mb-2">
                  <button
                    class="btn btn-block bg-cadetblue text-ghostwhite"
                    [routerLink]="'/training-plans/' + user.authId"
                  >
                    Treningi
                  </button>
                </div>
                <div class="row mb-2">
                  <button
                    class="btn btn-block bg-cadetblue text-ghostwhite"
                    [routerLink]="'/reports/' + user.authId"
                  >
                    Raporty
                  </button>
                </div>
              </div>
            </div>
            <div class="col-4 text-center">
              <form [formGroup]="userDetailsForm">
                <div class="row">
                  <input
                    type="number"
                    class="form-control"
                    id="paid"
                    placeholder="Ilość tygodni"
                    formControlName="paidTraining"
                  />
                  <button
                    type="button"
                    class="btn btn-block bg-cadetblue text-ghostwhite mt-2"
                    (click)="addPaidTraining(user, userDetailsForm)"
                  >
                    Powieksz pakiet
                  </button>
                </div>
                <div class="row">
                  <!-- tutaj  dac selecta -->
                  <!-- <select>
                    <option>d</option>
                  </select> -->
                  <input
                    type="text"
                    class="form-control"
                    id="paid"
                    placeholder="Wybierz trenera"
                    formControlName="addTrainer"
                    [matAutocomplete]="auto"
                  />
                  <mat-autocomplete
                    #auto="matAutocomplete"
                    autoActiveFirstOption
                  >
                    <mat-option
                      *ngFor="let option of filteredTrainers$ | async"
                      [value]="option.name"
                      (onSelectionChange)="
                        choseTrainer(user.id, option.trainerId)
                      "
                    >
                      {{ option.name }}
                    </mat-option>
                  </mat-autocomplete>
                  <!-- <button
                    type="button"
                    class="btn btn-block bg-cadetblue text-ghostwhite mt-2"
                  >
                    Przypisz trenera
                  </button> -->
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="container mt-5">
          <div class="row">
            <div class="col-md-6">
              <h2>Status Tygodni</h2>
              <p>
                Ilość wykupionych tygodni:
                <span id="wynikIloscWykupionychTygodni">{{
                  user.paidTraining
                }}</span>
              </p>
              <p>
                Ilość wykonanych tygodni:
                <span id="wynikIloscWykonanychTygodni">{{
                  user.trainingWeeks.length
                }}</span>
              </p>
            </div>
          </div>
        </div></mat-card-content
      ></mat-card
    >
  </section>
</ng-container>
<!-- <div class="col-md-3"></div> -->
