<section class="mx-lg-5 px-lg-3 my-lg-3">
  <mat-card>
    <mat-accordion>
      <mat-expansion-panel
        class="dimgray-color"
        *ngFor="
          let trainingData of trainingPlansQuery$ | async;
          trackBy: identify
        "
      >
        <mat-expansion-panel-header>
          <mat-panel-title class="dimgray-color"
            >Tydzień {{ trainingData.week.number }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="container mt-5 px-5">
          <div
            class="row d-flex justify-content-center"
            *ngFor="let training of trainingData.training; let i = index"
          >
            <div
              class="pointer border rounded mb-3"
              (click)="onClickTraining(training)"
            >
              <div class="row align-items-center">
                <div class="col text-title">
                  <span class="mb-2 d-inline-flex bg-white"
                    >Trening {{ i + 1 }}</span
                  >
                </div>

                <div
                  class="col d-flex justify-content-end"
                  *ngIf="!trainingReport"
                >
                  <button
                    mat-button
                    *hasAdminRole
                    type="button mat-button-hover"
                    class="p-0"
                    (click)="
                      openRemoveTrainingModal(training.id);
                      $event.stopPropagation()
                    "
                  >
                    <mat-icon class="m-0">delete_outline</mat-icon>
                  </button>
                </div>
              </div>

              <ol class="mb-2">
                <li *ngFor="let trainingElement of training.trainingElements">
                  {{ trainingElement.exercise }}
                </li>
              </ol>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion></mat-card
  >
</section>
