<mat-accordion>
  <mat-expansion-panel
    *ngFor="let trainingData of trainingPlansQuery$ | async; trackBy: identify"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>Tydzień {{ trainingData.week.number }} </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="container mt-5">
      <div class="row d-flex justify-content-center">
        <div
          class="col-md-4"
          *ngFor="let training of trainingData.training; let i = index"
        >
          <div class="card pointer" (click)="onClickTraining(training)">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Trening {{ i + 1 }}</h3>
                </div>

                <div
                  class="col d-flex justify-content-end"
                  *ngIf="!trainingReport"
                >
                  <button
                    *hasAdminRole
                    type="button"
                    class="btn btn-block p-1 d-flex align-items-center bg-danger text-ghostwhite"
                    (click)="
                      removeTraining(training.id); $event.stopPropagation()
                    "
                  >
                    <mat-icon>delete_outline</mat-icon>
                  </button>
                </div>
              </div>

              <ol class="mt-2">
                <li *ngFor="let trainingElement of training.trainingElements">
                  {{ trainingElement.exercise }}
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
