<mat-dialog-content class="p-0"
  ><form [formGroup]="raitingForm">
    <div class="container p-2 d-block">
      <div class="row d-flex justify-content-end">
        <div class="col-sm-2 col-3">
          <button (click)="closeDialog()" cdkFocusInitial mat-button>x</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="comment"
              >Komentarz do {{ data.raitingType | raitingType }}:</label
            >

            <textarea
              formControlName="comment"
              class="form-control"
              id="comment"
              rows="2"
            ></textarea>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="data.raitingType != 'weekComment'">
        <div class="col-md-12">
          <label for="difficulty">Poziom trudności:</label>
          <div class="form-group">
            <mat-radio-group
              formControlName="raitingValue"
              aria-label="Select an option"
            >
              <mat-radio-button
                color="primary"
                *ngFor="let dificultValue of dificultValue$ | async"
                [value]="dificultValue"
                >{{ dificultValue }}</mat-radio-button
              >
            </mat-radio-group>
          </div>
        </div>
      </div>
      <ng-container formArrayName="exerciseValue"
        ><ng-container
          *ngFor="let exerciseValue of exerciseValue.controls; let i = index"
        >
          <div class="row mt-3 justify-content-center" [formGroupName]="i">
            <div class="col">
              <div class="row">
                <div class="col-md mb-2">
                  <input
                    type="text"
                    class="form-control"
                    id="sets"
                    placeholder="Serie"
                    formControlName="set"
                  />
                </div>
                <div class="col-md mb-2">
                  <input
                    type="text"
                    class="form-control"
                    id="repetitions"
                    placeholder="Powtórzenia"
                    formControlName="rep"
                  />
                </div>

                <div class="col-md mb-2">
                  <input
                    type="text"
                    class="form-control"
                    id="value"
                    placeholder="Obciążenie"
                    formControlName="value"
                  />
                </div>
              </div>
            </div>
            <div class="col-2">
              <button
                type="button"
                class="btn btn-block bg-cadetblue text-ghostwhite"
                (click)="deleteQuantity(i)"
              >
                -
              </button>
            </div>
          </div></ng-container
        ></ng-container
      >
      <div class="container">
        <div
          class="row d-flex justify-content-end mt-3 m-2"
          *ngIf="data.raitingType === 'exercise'"
        >
          <div class="col-md-2 col-3 mb-2">
            <button
              type="button"
              class="btn btn-block bg-cadetblue text-ghostwhite"
              (click)="addQuantity('add')"
            >
              +
            </button>
          </div>
          <div class="col text-end">
            <button
              type="button"
              class="btn btn-block bg-cadetblue text-ghostwhite"
              (click)="asTrainingQuantityValue(data.quantityExercise)"
            >
              Jak w planie
            </button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-end pe-5">
          <button
            class="btn btn-block bg-cadetblue text-ghostwhite"
            (click)="
              addRaiting(
                data.trainingId,
                raitingForm,
                data.raitingType,
                data.exerciseOrder
              )
            "
          >
            Zatwierdz
          </button>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>
