<form
  style="
    min-height: 91vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-64px);
  "
  [formGroup]="loginForm"
  (ngSubmit)="onLoginFormSubmitted(loginForm)"
  class="d-flex text-center justify-content-center"
>
  <div class="container">
    <div class="row justify-content-center">
      <input
        type="text"
        class="form-control w-25 m-3"
        placeholder="Email"
        formControlName="email"
        required
      />
    </div>
    <div class="row justify-content-center">
      <input
        type="text"
        class="form-control w-25 m-3"
        placeholder="Password"
        formControlName="password"
        required
      />
    </div>
    <div class="row">
      <div class="d-inline-flex justify-content-center">
        <button class="" type="submit" mat-raised-button color="primary">
          Zaloguj
        </button>
      </div>
    </div>
  </div>
</form>
