<mat-dialog-content>
  <div class="container">
    <div class="row my-2">
      <p class="text-center">Czy chcesz usunac trening ?</p>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <button type="button" class="btn btn-block bg-cadetblue text-ghostwhite">
        Tak
      </button>
    </div>
    <div class="col text-center">
      <button type="button" class="btn btn-block bg-cadetblue text-ghostwhite">
        Nie
      </button>
    </div>
  </div></mat-dialog-content
>
