<mat-dialog-content>
  <div class="container">
    <div class="row my-2">
      <p class="text-center font-size">Czy chcesz usunac trening ?</p>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <button
        (click)="removeTraining(data.trainingId)"
        type="button"
        class="btn btn-block sd-bg-color text-ghostwhite font-size"
      >
        Tak
      </button>
    </div>
    <div class="col text-center">
      <button
        (click)="closeDialog()"
        type="button"
        class="btn btn-block sd-bg-color text-ghostwhite font-size"
      >
        Nie
      </button>
    </div>
  </div></mat-dialog-content
>
