<ng-container *ngIf="trainingDetails$ | async as trainingDetails">
  <mat-card>
    <mat-card-title class="text-end m-3">
      <button
        class="btn btn-block button-font p-2 bg-cadetblue text-ghostwhite"
        (click)="
          openRaitingModal(
            'training',
            1000,
            trainingDetails.id,
            trainingDetails.raitingCommentTraining,
            trainingDetails.raitingValueTraining,
            trainingDetails.hasFill
          )
        "
      >
        Podsumuj trening
      </button>
    </mat-card-title>

    <div
      class="container mt-5 px-3"
      *ngFor="let training of trainingDetails.trainingElements; let i = index"
    >
      <div class="row d-flex justify-content-center">
        <div class="col-1">{{ i + 1 }}.</div>
        <div class="col">
          <div class="border rounded mb-3">
            <div class="row align-items-center">
              <div class="mb-1 pt-3 ps-4 text-title">
                <span class="d-inline-flex bg-white">Ćwiczenie</span>
              </div>
            </div>
            <p class="mx-3">{{ training.exercise }}</p>
          </div>
          <div class="border rounded mb-3">
            <div class="row align-items-center">
              <div class="mb-1 pt-3 ps-4 text-title">
                <span class="text-title-without-btn d-inline-flex bg-white"
                  >Komentarz</span
                >
              </div>
            </div>
            <p class="mx-3">{{ training.comment }}</p>
          </div>
          <div class="row ps-2 mb-3">
            <div class="col-3 col-md-2 border-left-right">
              <div class="row">
                <p class="mb-0 pe-2 ps-0 text-end">Obciazenie</p>
              </div>
              <div class="row">
                <p class="mb-0 pe-2 ps-0 text-end">Serie</p>
              </div>
              <div class="row">
                <p class="mb-0 pe-2 ps-0 text-end">Powtórzenia</p>
              </div>
            </div>
            <div
              class="col-3 border-right"
              *ngFor="let quantity of training.quantity"
            >
              <div class="row">
                <p class="mb-0 px-0 text-center">{{ quantity.value }}</p>
              </div>
              <div class="row">
                <p class="mb-0 px-0 text-center">{{ quantity.set }}</p>
              </div>
              <div class="row">
                <p class="mb-0 px-0 text-center">{{ quantity.rep }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 text-end mb-3">
          <button
            class="btn btn-block button-font p-2 bg-cadetblue text-ghostwhite"
            (click)="
              openRaitingModal(
                'exercise',
                training.index,
                trainingDetails.id,
                training.raitingCommentExercise,
                training.raitingValueExercise,
                trainingDetails.hasFill,
                training.quantity,
                training.exerciseValue
              )
            "
          >
            Podsumuj ćwiczenie
          </button>
        </div>
      </div>
      <span class="px-3"><mat-divider></mat-divider></span>
    </div>
  </mat-card>
</ng-container>
<!-- <mat-card>
  <mat-card-title class="text-end m-3">
    <button
      class="btn btn-block button-font p-2 bg-cadetblue text-ghostwhite"
    >
      Podsumuj trening
    </button>
  </mat-card-title>

  <div class="container mt-5 px-3">
    <div class="row d-flex justify-content-center">
      <div class="col-1">1.</div>
      <div class="col">
        <div class="border rounded mb-3">
          <div class="row align-items-center">
            <div class="mb-1 pt-3 ps-4 text-title">
              <span class="d-inline-flex bg-white">Ćwiczenie</span>
            </div>
          </div>
          <p class="mx-3">rwanie</p>
        </div>
        <div class="border rounded mb-3">
          <div class="row align-items-center">
            <div class="mb-1 pt-3 ps-4 text-title">
              <span class="text-title-without-btn d-inline-flex bg-white"
                >Komentarz</span
              >
            </div>
          </div>
          <p class="mx-3">W paskach</p>
        </div>
        <div class="row ps-2 mb-3">
          <div class="col-3 border-left-right">
            <div class="row">
              <p class="mb-0 pe-2 ps-0 text-end">Obciazenie</p>
            </div>
            <div class="row">
              <p class="mb-0 pe-2 ps-0 text-end">Serie</p>
            </div>
            <div class="row">
              <p class="mb-0 pe-2 ps-0 text-end">Powtórzenia</p>
            </div>
          </div>
          <div class="col-2 border-right">
            <div class="row">
              <p class="mb-0 px-0 text-center">100</p>
            </div>
            <div class="row">
              <p class="mb-0 px-0 text-center">2</p>
            </div>
            <div class="row"><p class="mb-0 px-0 text-center">3</p></div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 text-end mb-3">
        <button
          class="btn btn-block button-font p-2 bg-cadetblue text-ghostwhite"
        >
          Podsumuj ćwiczenie
        </button>
      </div>
    </div>
  </div>
</mat-card> -->
