<ng-container *ngIf="trainingDetails$ | async as trainingDetails"
  ><mat-card>
    <mat-card-title class="text-end m-3"
      ><button
        class="btn btn-block bg-cadetblue text-ghostwhite"
        (click)="
          openRaitingModal(
            'training',
            1000,
            trainingDetails.id,
            trainingDetails.raitingCommentTraining,
            trainingDetails.raitingValueTraining,
            trainingDetails.hasFill
          )
        "
      >
        Podsumuj trening
      </button>
    </mat-card-title>
    <mat-card-content
      ><div
        class="container"
        *ngFor="let training of trainingDetails.trainingElements"
      >
        <ng-container>
          <div class="row">
            <div class="col-1">{{ training.index }}</div>
            <div class="col-5 text-start">
              <div class="row">
                <span class="my-2"><b>Exercise</b></span>

                {{ training.exercise }}
              </div>

              <div class="row">
                <span class="my-2"><b>Comment</b></span>

                {{ training.comment }}
              </div>
            </div>
            <div class="col text-start">
              <div
                *ngFor="let quantity of training.quantity"
                class="mb-3 row justify-content-start"
              >
                <div class="row mb-1">
                  <div class="col-4">
                    <span><b>Serie: </b></span>
                  </div>
                  <div class="col">{{ quantity.set }}</div>
                </div>
                <div class="row mb-1">
                  <div class="col-4">
                    <span> <b>Powtórzenia: </b></span>
                  </div>
                  <div class="col">
                    {{ quantity.rep }}
                  </div>
                </div>
                <div class="row mb-1">
                  <div class="col-4">
                    <span><b>Cięzar: </b></span>
                  </div>
                  <div class="col">{{ quantity.value }}</div>
                </div>
              </div>
            </div>
            <div class="col">
              <button
                class="btn btn-block bg-cadetblue text-ghostwhite"
                (click)="
                  openRaitingModal(
                    'exercise',
                    training.index,
                    trainingDetails.id,
                    training.raitingCommentExercise,
                    training.raitingValueExercise,
                    trainingDetails.hasFill,
                    training.quantity,
                    training.exerciseValue
                  )
                "
              >
                Podsumuj ćwiczenie
              </button>
            </div>
          </div></ng-container
        >

        <span class="px-3"><mat-divider></mat-divider></span>
      </div> </mat-card-content></mat-card
></ng-container>
