<form [formGroup]="planForm">
  <div>
    <mat-form-field appearance="fill" [style.width.px]="50">
      <!-- <mat-label>Exercise</mat-label> -->
      <input matInput type="text" formControlName="exercise" /><mat-error
        *ngIf="planForm.get('exercise')!.invalid"
        >exercise is invalid</mat-error
      ></mat-form-field
    >
  </div>
  <div>
    <mat-form-field appearance="fill"
      ><mat-label>Comment</mat-label
      ><input
        matInput
        type="text"
        placeholder="Comment"
        formControlName="comment"
      /><mat-error *ngIf="planForm.get('comment')!.invalid"
        >comment is invalid</mat-error
      ></mat-form-field
    >
  </div>

  <div>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      (click)="addQuantity()"
    >
      Add quantity
    </button>
  </div>

  <ng-container formArrayName="quantityExercise">
    <ng-container
      *ngFor="let quantity of quantityExercise.controls; let i = index"
    >
      <div [formGroupName]="i">
        <mat-form-field appearance="fill"
          ><mat-label>Rep</mat-label
          ><input
            matInput
            type="text"
            placeholder="Rep"
            formControlName="rep"
          />
          <!-- <mat-error *ngIf="planForm.get('rep')?.invalid"
            >rep is invalid</mat-error
          > -->
        </mat-form-field>
        <mat-form-field appearance="fill"
          ><mat-label>Set</mat-label
          ><input
            matInput
            type="text"
            placeholder="Set"
            formControlName="set"
          />
          <mat-error *ngIf="planForm.get('set')?.invalid"
            >set is invalid</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="fill"
          ><mat-label>Value</mat-label
          ><input
            matInput
            type="text"
            placeholder="Value"
            formControlName="value"
          />
          <mat-error *ngIf="planForm.get('value')?.valid"
            >value is invalid</mat-error
          >
        </mat-form-field>
      </div>
    </ng-container>
  </ng-container>
  <button
    type="submit"
    mat-raised-button
    color="primary"
    (click)="addTrainingToContext(planForm)"
  >
    Add exercise
  </button>
  <div>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      (click)="onPlanFormSubmitted(planForm)"
    >
      Submit
    </button>
  </div>
</form>

<pre *ngFor="let trainingExercise of trainingExercises$ | async">{{
  trainingExercise | json
}}</pre>
