<ng-container>
  <div class="container mt-5" *ngIf="user$ | async as user">
    <div class="row justify-content-center">
      <div class="col-md-7">
        <h1 class="text-center text-ghostwhite ms-md-5 ps-md-5">TRENING</h1>
      </div>

      <div class="col-md-2 text-end">
        <button
          type="button"
          class="btn btn-block bg-cadetblue text-ghostwhite mb-2"
          (click)="back(user.userId)"
        >
          Wróć
        </button>
      </div>
    </div>
    <form [formGroup]="planForm">
      <div class="row justify-content-center">
        <div class="col-md-6 col-5">
          <select
            class="form-control mb-2 mb-md-3"
            formControlName="trainingWeek"
            (change)="setTrainingWeek($event)"
          >
            <option
              *ngFor="let trainingWeek of user.trainingWeeks"
              [value]="trainingWeek.number"
            >
              Tydzień {{ trainingWeek.number }}
            </option>
          </select>
        </div>
        <div class="col-md-3 col text-end mb-2 mb-md-3">
          <button
            type="button"
            class="btn btn-block bg-cadetblue text-ghostwhite"
            (click)="addWeeksToConception(user, 1)"
          >
            Dodaj nowy tydzień
          </button>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-7">
          <div *ngIf="isAutocomplete$ | async; else noTemplate">
            <textarea
              class="form-control"
              placeholder="Wybierz z szablonu"
              aria-label="Number"
              matInput
              formControlName="autocompleteControl"
              [matAutocomplete]="auto"
              rows="2"
            ></textarea>

            <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
              <mat-option
                *ngFor="let option of filteredOptions$ | async"
                [value]="option"
                (onSelectionChange)="deactivationTemplate(option)"
              >
                {{ option }}
              </mat-option>
            </mat-autocomplete>
          </div>
          <ng-template #noTemplate>
            <textarea
              class="form-control mb-2"
              placeholder="Ćwiczenie"
              id="exerciseName"
              formControlName="exercise"
              rows="2"
            ></textarea>
          </ng-template>
        </div>
        <div class="col-md-2 text-end">
          <button
            type="button"
            class="btn btn-block bg-cadetblue text-ghostwhite"
            (click)="activeTemplate()"
          >
            Szablon
          </button>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-9">
          <textarea
            class="form-control mt-2"
            placeholder="Komentarz"
            id="comment"
            rows="4"
            formControlName="comment"
          ></textarea>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-7">
          <ng-container formArrayName="quantityExercise"
            ><ng-container
              *ngFor="
                let quantityExercise of quantityExercise.controls;
                let i = index
              "
            >
              <div class="row mt-3 justify-content-center" [formGroupName]="i">
                <div class="col-md-3">
                  <input
                    type="text"
                    class="form-control"
                    id="sets"
                    placeholder="Serie"
                    formControlName="set"
                  />
                </div>
                <div class="col-md-3">
                  <input
                    type="text"
                    class="form-control"
                    id="repetitions"
                    placeholder="Powtórzenia"
                    formControlName="rep"
                  />
                </div>

                <div class="col-md-3">
                  <input
                    type="text"
                    class="form-control"
                    id="value"
                    placeholder="Obciążenie"
                    formControlName="value"
                  />
                </div>
                <div class="col-md-3">
                  <button
                    type="button"
                    class="btn btn-block bg-cadetblue text-ghostwhite"
                    (click)="deleteQuantity(i)"
                  >
                    -
                  </button>
                </div>
              </div>
            </ng-container></ng-container
          >
        </div>
        <div class="col col-md-2 d-flex align-items-start">
          <div class="row mt-3 justify-content-center">
            <div class="col d-inline-flex justify-content-center mb-2 mb-md-3">
              <button
                type="button"
                class="btn btn-block bg-cadetblue text-ghostwhite"
                (click)="addQuantity('add')"
              >
                +
              </button>
            </div>
            <div class="col">
              <button
                type="button"
                class="btn btn-block bg-cadetblue text-ghostwhite"
                (click)="addTrainingExercise(planForm)"
              >
                Dodaj
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="row mt-5">
      <div class="col d-inline-flex justify-content-end">
        <button
          type="button"
          class="btn btn-block bg-cadetblue text-ghostwhite"
          (click)="onPlanFormSubmitted(user.userId, user.isEdit, user.isDone)"
        >
          Zatwierdź
        </button>
      </div>
    </div>

    <div class="mt-2 card p-2">
      <form [formGroup]="editForm">
        <div
          class="container-cdk"
          cdkDropList
          (cdkDropListDropped)="onDrop($event, user.trainingElements)"
        >
          <div
            class="container hover bg-white item p-3"
            *ngFor="let training of user.trainingElements; let i = index"
          >
            <ng-container *ngIf="isEditForm$ | async as edit">
              <ng-container
                *ngIf="!edit.isEdit || edit.index !== i; else isEditForm"
              >
                <div class="row">
                  <div class="col-1">{{ training.index }}</div>
                  <div class="col text-start">
                    <div class="row">
                      <div
                        cdkDrag
                        class="border rounded mb-3 p-0 text-height-min"
                      >
                        <div class="align-items-center">
                          <div class="mb-1 pt-3 ps-2 text-title">
                            <span class="d-inline-flex bg-white"
                              >Ćwiczenie</span
                            >
                          </div>
                        </div>
                        <p class="mx-3">{{ training.exercise }}</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="border rounded p-0 mb-3 text-height-min">
                        <div class="align-items-center">
                          <div class="mb-1 pt-3 ps-2 text-title">
                            <span class="d-inline-flex bg-white"
                              >Komentarz ćwiczenia
                            </span>
                          </div>
                        </div>
                        <p class="mx-3">
                          {{ training.raitingCommentExercise }}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="row d-flex flex-row-reverse">
                      <div class="col-md-3 mb-2 text-end">
                        <button
                          type="button"
                          class="btn btn-block bg-cadetblue text-ghostwhite"
                          (click)="onEditForms(i, training)"
                        >
                          Edytuj
                        </button>
                      </div>
                      <div class="col-md-2 text-end">
                        <button
                          type="button"
                          class="btn btn-block bg-danger text-ghostwhite m-0"
                          (click)="deleteExercise(i)"
                        >
                          <mat-icon class="d-flex">delete_outline</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3 col-sm-3 col-6 border-right mb-3">
                    <div class="d-flex flex-row-reverse">
                      <p class="mb-0 pe-2 ps-0 text-end d-flex">Obciazenie</p>
                    </div>
                    <div class="d-flex flex-row-reverse">
                      <p class="mb-0 pe-2 ps-0 text-end d-flex">Serie</p>
                    </div>
                    <div class="d-flex flex-row-reverse">
                      <p class="mb-0 pe-2 ps-0 text-end d-flex">Powtórzenia</p>
                    </div>
                  </div>
                  <div
                    class="col-3 border-right mb-3"
                    *ngFor="let exerciseValue of training.quantity"
                  >
                    <div class="row">
                      <p class="mb-0 px-0 text-center">
                        {{ exerciseValue.value }}
                      </p>
                    </div>
                    <div class="row">
                      <p class="mb-0 px-0 text-center">
                        {{ exerciseValue.set }}
                      </p>
                    </div>
                    <div class="row">
                      <p class="mb-0 px-0 text-center">
                        {{ exerciseValue.rep }}
                      </p>
                    </div>
                  </div>
                </div>
              </ng-container>
              <ng-template #isEditForm>
                <div class="row">
                  <div class="col-1">{{ training.index }}</div>
                  <div class="col text-start">
                    <div class="row">
                      <span class="my-2"><b>Exercise</b></span>
                      <textarea
                        class="form-control font-size"
                        placeholder="Ćwiczenie"
                        id="exerciseName"
                        formControlName="exercise"
                        rows="2"
                      ></textarea>
                    </div>

                    <div class="row mb-3">
                      <span class="mt-2"><b>Komentarz</b></span>

                      <textarea
                        class="form-control mt-3 font-size"
                        placeholder="Komentarz"
                        id="comment"
                        rows="4"
                        formControlName="comment"
                      ></textarea>
                    </div>
                    <div class="row">
                      <div class="col-md-4 border-right mb-3 border-md-none-sd">
                        <div class="d-flex">
                          <p class="mb-0 pe-2 ps-0 text-md-end d-flex">
                            Obciazenie
                          </p>
                        </div>
                        <div>
                          <p class="mb-0 pe-2 ps-0 text-end d-flex">Serie</p>
                        </div>
                        <div>
                          <p class="mb-0 pe-2 ps-0 text-end d-flex">
                            Powtórzenia
                          </p>
                        </div>
                      </div>
                      <ng-container formArrayName="quantityExercise">
                        <div
                          class="col-md-4 border-right mb-3 border-md-none-sd"
                          *ngFor="
                            let quantityExerciseEdit of quantityExerciseEdit.controls;
                            let j = index
                          "
                        >
                          <div class="container">
                            <div class="row">
                              <div class="col">
                                <div [formGroupName]="j">
                                  <div class="row">
                                    <div class="mb-0 px-0 text-center">
                                      <input
                                        type="text"
                                        class="form-control font-size"
                                        id="load"
                                        formControlName="value"
                                      />
                                    </div>
                                  </div>
                                  <div class="row">
                                    <p class="mb-0 px-0 text-center">
                                      <input
                                        type="text"
                                        class="form-control font-size"
                                        id="rep"
                                        formControlName="rep"
                                      />
                                    </p>
                                  </div>
                                  <div class="row">
                                    <p class="mb-0 px-0 text-center">
                                      <input
                                        size="1"
                                        type="text"
                                        class="form-control font-size"
                                        id="sets"
                                        formControlName="set"
                                      />
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <div class="col">
                                <div class="col-2">
                                  <button
                                    type="button"
                                    class="btn btn-block bg-cadetblue text-ghostwhite"
                                    (click)="deleteQuantityEdit(j)"
                                  >
                                    -
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-2 justify-content-center">
                          <button
                            type="button"
                            class="btn btn-block bg-cadetblue text-ghostwhite"
                            (click)="addQuantity('edit')"
                          >
                            +
                          </button>
                        </div></ng-container
                      >
                    </div>
                  </div>

                  <div class="col-3">
                    <div class="row">
                      <div class="col text-end">
                        <button
                          type="button"
                          class="btn btn-block bg-cadetblue text-ghostwhite"
                          (click)="editSubmit(editForm, i)"
                        >
                          Zakończ edycję
                        </button>
                      </div>
                    </div>
                  </div>
                </div></ng-template
              >
            </ng-container>

            <span class="px-3"><mat-divider></mat-divider></span>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-container>
