<!-- <div class="container text-center p-5">
  <form [formGroup]="planForm">
    <div class="row">
      <div class="col">
        <mat-form-field appearance="fill" class="w-100 pb-2"
          ><mat-label>Exercise</mat-label
          ><input
            matInput
            type="text"
            placeholder="Exercise"
            formControlName="exercise"
            required
          /><mat-error *ngIf="planForm.get('exercise')!.invalid"
            >exercise is invalid</mat-error
          ></mat-form-field
        >
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field appearance="fill" class="w-100 pb-2"
          ><mat-label>Comment</mat-label
          ><input
            matInput
            type="text"
            placeholder="Comment"
            formControlName="comment"
            required
          /><mat-error *ngIf="planForm.get('comment')!.invalid"
            >comment is invalid</mat-error
          ></mat-form-field
        >
      </div>
    </div>

    <ng-container formArrayName="quantityExercise"
      ><ng-container
        *ngFor="
          let quantityExercise of quantityExercise.controls;
          let i = index
        "
      >
        <div [formGroupName]="i" class="row pb-2">
          <div class="col">
            <mat-form-field appearance="fill"
              ><mat-label>Rep</mat-label
              ><input
                matInput
                type="text"
                placeholder="Rep"
                formControlName="rep"
                required
              />
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="fill"
              ><mat-label>Set</mat-label
              ><input
                matInput
                type="text"
                placeholder="Set"
                formControlName="set"
                required
              />
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="fill"
              ><mat-label>Value</mat-label
              ><input
                matInput
                type="text"
                placeholder="Value"
                formControlName="value"
              />
            </mat-form-field>
          </div>
        </div> </ng-container
    ></ng-container>

    <div class="row justify-content-center pb-2">
      <div class="col-4">
        <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="addQuantity()"
        >
          Add quantity
        </button>
      </div>
    </div>
    <div class="row justify-content-center pb-2">
      <div class="col-4">
        <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="addTrainingExercise(planForm)"
        >
          Add exercise
        </button>
      </div>
    </div>
    <div class="row justify-content-center pb-2">
      <div class="col-4">
        <button type="button" mat-raised-button color="primary">
          Add training
        </button>
      </div>
    </div>
  </form>
</div>

<mat-accordion>
  <mat-expansion-panel hideToggle class="m-0">
    <mat-expansion-panel-header>
      <mat-panel-description class="justify-content-center">
        TRAINING
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div
      class="container hover"
      *ngFor="let training of trainingExercises$ | async"
    >
      <div class="row">
        <div class="col-1">{{ training.index }}</div>
        <div class="col-6 text-start">
          <div class="row">
            <span class="my-2"><b>Exercise</b></span>
            {{ training.exercise }}
          </div>

          <div class="row">
            <span class="my-2"><b>Comment</b></span>
            {{ training.comment }}
          </div>
        </div>
        <div class="col text-center" *ngFor="let quantity of training.quantity">
          <div class="row justify-content-center">
            <div class="col-1 fs-5 d-flex align-items-center">
              <p>{{ quantity.set }}</p>
            </div>
            <div class="col-2">
              <div class="row">
                <p>{{ quantity.value }}</p>
              </div>
              <div class="row">
                <p>{{ quantity.rep }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <span class="px-3"><mat-divider></mat-divider></span>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<button mat-raised-button (click)="test()">sesion</button> -->

<div class="container mt-5">
  <h1 class="text-center text-ghostwhite">Dodaj Ćwiczenie do Treningu</h1>
  <form [formGroup]="planForm">
    <div class="row justify-content-center">
      <div class="col-md-9">
        <!-- <label for="exerciseName" class="text-ghostwhite"
          >Nazwa Ćwiczenia</label
        > -->
        <!-- <input
          type="text"
          class="form-control"
          id="exerciseName"
          placeholder="Podaj nazwę ćwiczenia"
          required
        /> -->
        <textarea
          class="form-control"
          placeholder="Ćwiczenie"
          id="exerciseName"
          formControlName="exercise"
          rows="2"
        ></textarea>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-9">
        <!-- <label for="comment " class="text-ghostwhite">Komentarz</label> -->
        <textarea
          class="form-control mt-3"
          placeholder="Komentarz"
          id="comment"
          rows="4"
          formControlName="comment"
        ></textarea>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-7">
        <ng-container formArrayName="quantityExercise"
          ><ng-container
            *ngFor="
              let quantityExercise of quantityExercise.controls;
              let i = index
            "
          >
            <div class="row mt-3 justify-content-center" [formGroupName]="i">
              <div class="col-md-4">
                <!-- <label for="repetitions " class="text-ghostwhite"
          >Ilość Powtórzeń</label
        > -->
                <input
                  type="text"
                  class="form-control"
                  id="repetitions"
                  placeholder="Powtórzenia"
                  formControlName="rep"
                />
              </div>
              <div class="col-md-4">
                <!-- <label for="sets" class="text-ghostwhite">Ilość Serii</label> -->
                <input
                  type="text"
                  class="form-control"
                  id="sets"
                  placeholder="Serie"
                  formControlName="set"
                />
              </div>
              <div class="col-md-4">
                <!-- <label for="load" class="text-ghostwhite">Obciążenie</label> -->
                <input
                  type="text"
                  class="form-control"
                  id="load"
                  placeholder="Obciążenie"
                  formControlName="value"
                />
              </div>
            </div> </ng-container
        ></ng-container>
      </div>
      <div class="col col-md-2 d-flex align-items-start">
        <div class="row mt-3 justify-content-center">
          <div class="col justify-content-center">
            <button
              type="button"
              class="btn btn-block bg-cadetblue text-ghostwhite"
              (click)="addQuantity()"
            >
              +
            </button>
          </div>
          <div class="col d-flex justify-content-center">
            <button
              type="button"
              class="btn btn-block bg-cadetblue text-ghostwhite"
              (click)="addTrainingExercise(planForm)"
            >
              Dodaj
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- 
  <h2 class="mt-5 text-center text-ghostwhite">Aktualny Trening</h2>
  <ul class="list-group mt-3">
    <li class="list-group-item">
      Ćwiczenie: Przysiady | Powtórzenia: 15 | Serie: 3 | Obciążenie: 20 kg |
      Data: 2023-01-1
    </li>
    <li class="list-group-item">
      Ćwiczenie: Pompki | Powtórzenia: 12 | Serie: 4 | Obciążenie: Brak | Data:
      2023-01-2
    </li>
    <li class="list-group-item">
      Ćwiczenie: Martwy Ciąg | Powtórzenia: 8 | Serie: 3 | Obciążenie: 100 kg |
      Data: 2023-01-3
    </li>
  </ul> -->
  <div class="mt-5">
    <mat-accordion>
      <mat-expansion-panel hideToggle class="m-0">
        <mat-expansion-panel-header>
          <mat-panel-description class="justify-content-center">
            TRAINING
          </mat-panel-description>
        </mat-expansion-panel-header>
        <form [formGroup]="planForm">
          <div
            class="container hover"
            *ngFor="let training of trainingExercises$ | async; let i = index"
          >
            <ng-container *ngIf="isEditForm$ | async as edit">
              <div class="row">
                <div class="col-1">{{ training.index }}</div>
                <div class="col-5 text-start">
                  <div class="row">
                    <span class="my-2"><b>Exercise</b></span>

                    <div
                      *ngIf="
                        edit.isEdit === false || edit.index !== i;
                        else editFormExercise
                      "
                    >
                      {{ training.exercise }}
                    </div>
                  </div>
                  <ng-template #editFormExercise>
                    <textarea
                      class="form-control"
                      placeholder="Ćwiczenie"
                      id="exerciseName"
                      formControlName="exercise"
                      rows="2"
                    ></textarea>
                  </ng-template>

                  <div class="row">
                    <span class="my-2"><b>Comment</b></span>
                    <div
                      *ngIf="
                        edit.isEdit === false || edit.index !== i;
                        else editFormComment
                      "
                    >
                      {{ training.comment }}
                    </div>
                  </div>
                  <ng-template #editFormComment>
                    <textarea
                      class="form-control mt-3"
                      placeholder="Komentarz"
                      id="comment"
                      rows="4"
                      formControlName="comment"
                    ></textarea>
                  </ng-template>
                </div>
                <div
                  class="col text-center"
                  *ngFor="let quantity of training.quantity"
                >
                  <div class="row justify-content-center">
                    <div class="col-1 fs-5 d-flex align-items-center">
                      <p>{{ quantity.set }}</p>
                    </div>
                    <div class="col-2">
                      <div class="row">
                        <p>{{ quantity.value }}</p>
                      </div>
                      <div class="row">
                        <p>{{ quantity.rep }}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <button (click)="onEditForms(i, training)">edit</button>
                  <button (click)="editSubject(planForm, i)">subject</button>
                </div>
              </div></ng-container
            >

            <span class="px-3"><mat-divider></mat-divider></span>
          </div>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<ng-container *ngIf="isEditForm$ | async as item">{{
  item | json
}}</ng-container>
<!-- <button (click)="onEditForm('exercise', 2)">change</button> -->
<!-- <button (click)="editSubject()">Edit</button> -->
