<div class="container mt-5" *ngIf="user$ | async as user">
  <div class="row justify-content-center">
    <div class="col-md-7">
      <h1 class="text-center text-ghostwhite ms-md-5 ps-md-5">
        Dodaj Ćwiczenie do Treningu
      </h1>
    </div>

    <div class="col-md-2 text-end">
      <button
        type="button"
        class="btn btn-block bg-cadetblue text-ghostwhite"
        (click)="back(user.id)"
      >
        Wróć
      </button>
    </div>
  </div>
  <form [formGroup]="planForm">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <select class="form-control mb-3" formControlName="trainingWeek">
          <option
            *ngFor="let trainingWeek of user.trainingWeeks"
            [value]="trainingWeek"
          >
            Tydzień {{ trainingWeek }}
          </option>
        </select>
        <!-- {{ user.training }} -->
      </div>
      <div class="col-md-3 text-end">
        <button
          type="button"
          class="btn btn-block bg-cadetblue text-ghostwhite"
          (click)="addWeeksToConception(user, 1)"
        >
          Dodaj nowy tydzień
        </button>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-9">
        <textarea
          class="form-control"
          placeholder="Ćwiczenie"
          id="exerciseName"
          formControlName="exercise"
          rows="2"
        ></textarea>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-9">
        <textarea
          class="form-control mt-3"
          placeholder="Komentarz"
          id="comment"
          rows="4"
          formControlName="comment"
        ></textarea>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-7">
        <ng-container formArrayName="quantityExercise"
          ><ng-container
            *ngFor="
              let quantityExercise of quantityExercise.controls;
              let i = index
            "
          >
            <div class="row mt-3 justify-content-center" [formGroupName]="i">
              <div class="col-md-3">
                <input
                  type="text"
                  class="form-control"
                  id="sets"
                  placeholder="Serie"
                  formControlName="set"
                />
              </div>
              <div class="col-md-3">
                <input
                  type="text"
                  class="form-control"
                  id="repetitions"
                  placeholder="Powtórzenia"
                  formControlName="rep"
                />
              </div>

              <div class="col-md-3">
                <input
                  type="text"
                  class="form-control"
                  id="value"
                  placeholder="Obciążenie"
                  formControlName="value"
                />
              </div>
              <div class="col-md-3">
                <button
                  type="button"
                  class="btn btn-block bg-cadetblue text-ghostwhite"
                  (click)="deleteQuantity(i)"
                >
                  -
                </button>
              </div>
            </div>
          </ng-container></ng-container
        >
      </div>
      <div class="col col-md-2 d-flex align-items-start">
        <div class="row mt-3 justify-content-center">
          <div class="col d-inline-flex justify-content-center">
            <button
              type="button"
              class="btn btn-block bg-cadetblue text-ghostwhite"
              (click)="addQuantity('add')"
            >
              +
            </button>
          </div>
          <div class="col d-inline-flex justify-content-center">
            <button
              type="button"
              class="btn btn-block bg-cadetblue text-ghostwhite"
              (click)="addTrainingExercise(planForm)"
            >
              Dodaj
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="row mt-5">
    <div class="col d-inline-flex justify-content-end">
      <button
        type="button"
        class="btn btn-block bg-cadetblue text-ghostwhite"
        (click)="onPlanFormSubmitted()"
      >
        Zatwierdź
      </button>
    </div>
  </div>

  <div class="mt-2 card p-2">
    <form [formGroup]="editForm">
      <div
        class="container hover"
        *ngFor="let training of trainingExercises$ | async; let i = index"
      >
        <ng-container *ngIf="isEditForm$ | async as edit">
          <ng-container
            *ngIf="!edit.isEdit || edit.index !== i; else isEditForm"
          >
            <div class="row">
              <div class="col-1">{{ training.index }}</div>
              <div class="col-5 text-start">
                <div class="row">
                  <span class="my-2"><b>Exercise</b></span>

                  {{ training.exercise }}
                </div>

                <div class="row">
                  <span class="my-2"><b>Comment</b></span>

                  {{ training.comment }}
                </div>
              </div>
              <div class="col text-start">
                <div
                  *ngFor="let quantity of training.quantity"
                  class="mb-3 row justify-content-start"
                >
                  <div class="row mb-1">
                    <div class="col-4">
                      <span><b>Serie: </b></span>
                    </div>
                    <div class="col">{{ quantity.set }}</div>
                  </div>
                  <div class="row mb-1">
                    <div class="col-4">
                      <span> <b>Powtórzenia: </b></span>
                    </div>
                    <div class="col">
                      {{ quantity.rep }}
                    </div>
                  </div>
                  <div class="row mb-1">
                    <div class="col-4">
                      <span><b>Cięzar: </b></span>
                    </div>
                    <div class="col">{{ quantity.value }}</div>
                  </div>
                </div>
              </div>
              <div class="col-1">
                <button
                  type="button"
                  class="btn btn-block bg-cadetblue text-ghostwhite"
                  (click)="onEditForms(i, training)"
                >
                  edit
                </button>
              </div>
            </div></ng-container
          >
          <ng-template #isEditForm>
            <div class="row">
              <div class="col-1">{{ training.index }}</div>
              <div class="col-5 text-start">
                <div class="row">
                  <span class="my-2"><b>Exercise</b></span>
                  <textarea
                    class="form-control"
                    placeholder="Ćwiczenie"
                    id="exerciseName"
                    formControlName="exercise"
                    rows="2"
                  ></textarea>
                </div>

                <div class="row">
                  <span class="my-2"><b>Comment</b></span>

                  <textarea
                    class="form-control mt-3"
                    placeholder="Komentarz"
                    id="comment"
                    rows="4"
                    formControlName="comment"
                  ></textarea>
                </div>
              </div>
              <div class="col">
                <ng-container formArrayName="quantityExercise">
                  <ng-container
                    *ngFor="
                      let quantityExerciseEdit of quantityExerciseEdit.controls;
                      let j = index
                    "
                  >
                    <div class="row mb-3" [formGroupName]="j">
                      <div class="col">
                        <div class="row mb-1">
                          <div class="col d-flex align-items-center">
                            <span><b>Serie: </b></span>
                          </div>
                          <div class="col">
                            <input
                              size="1"
                              type="text"
                              class="form-control"
                              id="sets"
                              formControlName="set"
                            />
                          </div>
                        </div>
                        <div class="row mb-1">
                          <div class="col d-flex align-items-center">
                            <span><b>Podejścia: </b></span>
                          </div>
                          <div class="col">
                            <input
                              type="text"
                              class="form-control"
                              id="rep"
                              formControlName="rep"
                            />
                          </div>
                        </div>
                        <div class="row mb-1">
                          <div class="col d-flex align-items-center">
                            <span> <b>Cięzar: </b></span>
                          </div>
                          <div class="col">
                            <input
                              type="text"
                              class="form-control"
                              id="load"
                              formControlName="value"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="col-2">
                        <button
                          type="button"
                          class="btn btn-block bg-cadetblue text-ghostwhite"
                          (click)="deleteQuantityEdit(j)"
                        >
                          -
                        </button>
                      </div>
                    </div>
                  </ng-container></ng-container
                >
              </div>

              <div class="col-3">
                <div class="row">
                  <div class="col-2 justify-content-center">
                    <button
                      type="button"
                      class="btn btn-block bg-cadetblue text-ghostwhite"
                      (click)="addQuantity('edit')"
                    >
                      +
                    </button>
                  </div>
                  <div class="col justify-content-center">
                    <button
                      type="button"
                      class="btn btn-block bg-cadetblue text-ghostwhite"
                      (click)="editSubmit(editForm, i)"
                    >
                      submit
                    </button>
                  </div>
                </div>
              </div>
            </div></ng-template
          >
        </ng-container>

        <span class="px-3"><mat-divider></mat-divider></span>
      </div>
    </form>
    <!-- <mat-accordion>
      <mat-expansion-panel hideToggle class="m-0">
        <mat-expansion-panel-header>
          <mat-panel-description class="justify-content-center">
            <div class="col">TRAINING</div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <form [formGroup]="editForm">
          <div
            class="container hover"
            *ngFor="let training of trainingExercises$ | async; let i = index"
          >
            <ng-container *ngIf="isEditForm$ | async as edit">
              <ng-container
                *ngIf="!edit.isEdit || edit.index !== i; else isEditForm"
              >
                <div class="row">
                  <div class="col-1">{{ training.index }}</div>
                  <div class="col-5 text-start">
                    <div class="row">
                      <span class="my-2"><b>Exercise</b></span>

                      {{ training.exercise }}
                    </div>

                    <div class="row">
                      <span class="my-2"><b>Comment</b></span>

                      {{ training.comment }}
                    </div>
                  </div>
                  <div class="col text-start">
                    <div
                      *ngFor="let quantity of training.quantity"
                      class="mb-3 row justify-content-start"
                    >
                      <div class="row mb-1">
                        <div class="col-4">
                          <span><b>Serie: </b></span>
                        </div>
                        <div class="col">{{ quantity.set }}</div>
                      </div>
                      <div class="row mb-1">
                        <div class="col-4">
                          <span> <b>Powtórzenia: </b></span>
                        </div>
                        <div class="col">
                          {{ quantity.rep }}
                        </div>
                      </div>
                      <div class="row mb-1">
                        <div class="col-4">
                          <span><b>Cięzar: </b></span>
                        </div>
                        <div class="col">{{ quantity.value }}</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-1">
                    <button
                      type="button"
                      class="btn btn-block bg-cadetblue text-ghostwhite"
                      (click)="onEditForms(i, training)"
                    >
                      edit
                    </button>
                  </div>
                </div></ng-container
              >
              <ng-template #isEditForm>
                <div class="row">
                  <div class="col-1">{{ training.index }}</div>
                  <div class="col-5 text-start">
                    <div class="row">
                      <span class="my-2"><b>Exercise</b></span>
                      <textarea
                        class="form-control"
                        placeholder="Ćwiczenie"
                        id="exerciseName"
                        formControlName="exercise"
                        rows="2"
                      ></textarea>
                    </div>

                    <div class="row">
                      <span class="my-2"><b>Comment</b></span>

                      <textarea
                        class="form-control mt-3"
                        placeholder="Komentarz"
                        id="comment"
                        rows="4"
                        formControlName="comment"
                      ></textarea>
                    </div>
                  </div>
                  <div class="col">
                    <ng-container formArrayName="quantityExercise">
                      <ng-container
                        *ngFor="
                          let quantityExerciseEdit of quantityExerciseEdit.controls;
                          let j = index
                        "
                      >
                        <div class="row mb-3" [formGroupName]="j">
                          <div class="col">
                            <div class="row mb-1">
                              <div class="col d-flex align-items-center">
                                <span><b>Serie: </b></span>
                              </div>
                              <div class="col">
                                <input
                                  size="1"
                                  type="text"
                                  class="form-control"
                                  id="sets"
                                  formControlName="set"
                                />
                              </div>
                            </div>
                            <div class="row mb-1">
                              <div class="col d-flex align-items-center">
                                <span><b>Podejścia: </b></span>
                              </div>
                              <div class="col">
                                <input
                                  type="text"
                                  class="form-control"
                                  id="rep"
                                  formControlName="rep"
                                />
                              </div>
                            </div>
                            <div class="row mb-1">
                              <div class="col d-flex align-items-center">
                                <span> <b>Cięzar: </b></span>
                              </div>
                              <div class="col">
                                <input
                                  type="text"
                                  class="form-control"
                                  id="load"
                                  formControlName="value"
                                />
                              </div>
                            </div>
                          </div>
                          <div class="col-2">
                            <button
                              type="button"
                              class="btn btn-block bg-cadetblue text-ghostwhite"
                              (click)="deleteQuantityEdit(j)"
                            >
                              -
                            </button>
                          </div>
                        </div>
                      </ng-container></ng-container
                    >
                  </div>

                  <div class="col-3">
                    <div class="row">
                      <div class="col-2 justify-content-center">
                        <button
                          type="button"
                          class="btn btn-block bg-cadetblue text-ghostwhite"
                          (click)="addQuantity('edit')"
                        >
                          +
                        </button>
                      </div>
                      <div class="col justify-content-center">
                        <button
                          type="button"
                          class="btn btn-block bg-cadetblue text-ghostwhite"
                          (click)="editSubmit(editForm, i)"
                        >
                          submit
                        </button>
                      </div>
                    </div>
                  </div>
                </div></ng-template
              >
            </ng-container>

            <span class="px-3"><mat-divider></mat-divider></span>
          </div>
        </form>
      </mat-expansion-panel>
    </mat-accordion> -->
  </div>
</div>
