<section style="min-height: 100vh">
  <mat-toolbar class="bg-cadetblue text-ghostwhite">
    <div class="container">
      <div class="row">
        <div class="col-md-2 p-0">
          <div class="d-flex-center pointer" [routerLink]="'/'">
            <div class="font-family">
              <span>StrefaDwuboju</span>
            </div>
          </div>
        </div>
        <div class="col text-start p-0">
          <button class="mx-2" mat-button [routerLink]="'/'">Home</button>
          <button class="mx-2" mat-button [routerLink]="'/training-plans'">
            Treningi
          </button>

          <button class="mx-2" mat-button [routerLink]="'/users-list'">
            Podopieczni
          </button>
        </div>
        <div class="col p-o text-end">
          <button
            class="mx-2"
            mat-button
            (click)="logOut()"
            *ngIf="userAuthContext$ | async; else noLogin"
          >
            Log out
          </button>
          <ng-template #noLogin>
            <button class="mx-2" mat-button [routerLink]="'/login'">
              <mat-icon>account_circle</mat-icon>Login
            </button></ng-template
          >
        </div>
      </div>
    </div>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav-content> <ng-content></ng-content></mat-sidenav-content
  ></mat-sidenav-container>
</section>
