<mat-toolbar class="bg-cadetblue text-ghostwhite">
  <div class="d-flex-center">
    <div class="font-family">
      <span>StrefaDwuboju</span>
    </div>
  </div>

  <div>
    <button class="mx-2" mat-button [routerLink]="'/training-plans'">
      Treningi
    </button>
    <!-- <button class="mx-2" mat-button [routerLink]="'/create-plan'">
      Stwórz plan
    </button> -->
    <button class="mx-2" mat-button [routerLink]="'/users-list'">
      Podopieczni</button
    ><button class="mx-2" mat-button [routerLink]="'/login'">Login</button>
  </div></mat-toolbar
>

<mat-sidenav-container>
  <mat-sidenav-content> <ng-content></ng-content></mat-sidenav-content
></mat-sidenav-container>
