<mat-toolbar
  *ngIf="userAuthContext$ | async as userContext"
  class="bg-aliceblue sd-color sticky-top border-grey d-flex justify-content-between z-index-2"
>
  <div class="row">
    <div class="col ms-2">
      <div
        class="d-flex-center pointer"
        [routerLink]="'/'"
        (click)="onToggleClicked()"
      >
        <!-- <div class="font-family">
          <span>StrefaDwuboju</span>
        </div> -->
        <img src="/assets/logo-sd.png" width="55" />
      </div>
    </div>
    <div class="col text-start p-0 navigation-hide">
      <button class="mx-2 ms-2" mat-button [routerLink]="'/'">Home</button>
      <button class="mx-2" mat-button [routerLink]="'/training-plans'">
        Treningi
      </button>
      <button class="mx-2" mat-button [routerLink]="'/reports'">Raporty</button>
      <button
        class="mx-2"
        mat-button
        [routerLink]="'/users-list'"
        *ngIf="userContext.role === 'admin'"
      >
        Podopieczni
      </button>
    </div>
  </div>

  <div class="navigation-hide">
    <div class="col p-o text-end">
      <button
        class="mx-2"
        mat-button
        (click)="logOut()"
        *ngIf="userContext.authId; else noLogin"
      >
        <mat-icon>login</mat-icon> Log out
      </button>
      <ng-template #noLogin>
        <button class="mx-2" mat-button [routerLink]="'/login'">
          <mat-icon>account_circle</mat-icon>Login
        </button></ng-template
      >
    </div>
  </div>
  <div class="navigation-menu pointer sd-color">
    <mat-icon
      (click)="onToggleClicked()"
      *ngIf="isToggle$ | async; else isToggleIcon"
      >highlight_off</mat-icon
    >
    <ng-template #isToggleIcon>
      <mat-icon (click)="onToggleClicked()">menu</mat-icon></ng-template
    >
  </div>
</mat-toolbar>

<mat-card
  class="fullscreen card-sd"
  *ngIf="isToggle$ | async; else isToggleMenu"
  ><mat-card-content *ngIf="userAuthContext$ | async as userContext"
    ><div class="container sd-color">
      <div class="row">
        <button
          class="mx-2 ms-2"
          mat-button
          color="danger"
          [routerLink]="'/'"
          (click)="onToggleClicked()"
        >
          Home
        </button>
      </div>
      <div class="row">
        <button
          class="mx-2"
          mat-button
          color="danger"
          [routerLink]="'/training-plans'"
          (click)="onToggleClicked()"
        >
          Treningi
        </button>
      </div>

      <div class="row">
        <button
          class="mx-2"
          mat-button
          color="danger"
          [routerLink]="'/reports'"
          (click)="onToggleClicked()"
        >
          Raporty
        </button>
      </div>

      <div class="row">
        <button
          class="mx-2"
          mat-button
          color="danger"
          [routerLink]="'/users-list'"
          *ngIf="userContext.role === 'admin'"
          (click)="onToggleClicked()"
        >
          Podopieczni
        </button>
      </div>
      <div class="row">
        <button
          class="mx-2"
          mat-button
          color="danger"
          (click)="logOut()"
          (click)="onToggleClicked()"
          *ngIf="userContext.authId; else noLogin"
        >
          <mat-icon>login</mat-icon> Log out
        </button>
        <ng-template #noLogin>
          <button
            class="mx-2"
            mat-button
            color="danger"
            [routerLink]="'/login'"
            (click)="onToggleClicked()"
          >
            <mat-icon>account_circle</mat-icon>Login
          </button></ng-template
        >
      </div>
    </div></mat-card-content
  ></mat-card
>

<ng-template #isToggleMenu
  ><mat-sidenav-container>
    <mat-sidenav-content class="dimgray-color font-size">
      <ng-content></ng-content> </mat-sidenav-content></mat-sidenav-container
></ng-template>
