<mat-accordion>
  <mat-expansion-panel *ngFor="let trainingData of trainingPlansQuery$ | async">
    <mat-expansion-panel-header>
      <mat-panel-title> Tydzień {{ trainingData.week }} </mat-panel-title>
      <mat-panel-description> </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="container mt-5">
      <div class="row d-flex justify-content-center">
        <div
          class="col-md-4"
          *ngFor="let training of trainingData.training; let i = index"
        >
          <div class="card pointer" (click)="editTraining(training)">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Trening {{ i + 1 }}</h3>
                </div>
              </div>

              <ol class="mt-2">
                <li *ngFor="let trainingElement of training.trainingElement">
                  {{ trainingElement.exercise }}
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
