<!-- <form [formGroup]="choiseForm">
  <div class="row" *ngIf="date$ | async as date">
    <div class="col">
      <mat-form-field>
        <mat-label>Rok</mat-label>
        <mat-select formControlName="year">
          <mat-option *ngFor="let year of date.years" value="{{ year.id }}">{{
            year.value
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field>
        <mat-label>Miesiac</mat-label>
        <mat-select formControlName="month">
          <mat-option *ngFor="let month of date.months" [value]="month.id">{{
            month.value
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field>
        <mat-label>Tydzień</mat-label>
        <mat-select formControlName="week">
          <mat-option *ngFor="let week of date.weeks" value="{{ week.id }}">{{
            week.value
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</form> -->
<form [formGroup]="choiseForm">
  <div class="row mt-3 mx-3" *ngIf="date$ | async as date">
    <div class="col-md-4 mb-3">
      <label for="selectYear">Wybierz Rok</label>
      <select class="form-control" id="selectYear">
        <option *ngFor="let year of date.years" [value]="year.id">
          {{ year.value }}
        </option>
      </select>
    </div>
    <div class="col-md-4 mb-3">
      <label for="selectMonth">Wybierz Miesiąc</label>
      <select class="form-control" id="selectMonth">
        <option *ngFor="let month of date.months" [value]="month.id">
          {{ month.value }}
        </option>

        <!-- Dodaj pozostałe miesiące -->
      </select>
    </div>
    <div class="col-md-4 mb-3">
      <label for="selectWeek">Wybierz Tydzień Miesiąca</label>
      <select class="form-control" id="selectWeek">
        <option *ngFor="let week of date.weeks" [value]="week.id">
          {{ week.value }}
        </option>
      </select>
    </div>
  </div>
</form>
